html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @include base-text-15-M;
  color: var(--black-100-base);
  background-color: var(--beige-100-base);
}
main {
  min-height: 80vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: $maxContainerWidth;
  margin: 0 auto;
  padding: 0 rem(60);
  @include tablet-sm {
    padding: 0 rem(15);
  }
}
