.footer {
  padding-top: rem(80);
  background-color: var(--white-100-base);
  &__logo {
    img {
      height: rem(30);
      @include tablet-sm {
        height: rem(34);
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);

    @include tablet-smm {
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__top-left {
    display: flex;
    align-items: center;
    gap: rem(40);
    @include tablet-smm {
      flex-direction: column;
    }
  }
  .switcher {
    position: relative;
    z-index: 9;
    &:hover {
      .switcher-active {
        background: var(--white-100-base);
        &::after {
          transform: rotate(180deg);
        }
      }

      ul {
        opacity: 1;
        visibility: visible;
        transform: translateY(rem(0));
        pointer-events: all;
      }
    }

    li {
      padding: rem(8);
      text-align: center;
      @include menu-item-14-M;
    }
    &-active {
      @include menu-item-14-M;
      color: var(--black-100-base);
      position: relative;
      display: flex;
      align-items: center;
      gap: rem(4);
      padding: rem(8) rem(12);
      border-radius: rem(6);
      transition: var(--transition);
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        background-image: url('./../../img/icons/triangle-down.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: rem(14);
        height: rem(14);
        transition: var(--transition);
      }
    }
    ul {
      background-color: var(--beige-100-base);
      border-radius: rem(6);
      position: absolute;
      right: 0;
      width: rem(120);
      height: fit-content;
      top: rem(60);
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transform: translateY(rem(20));
      pointer-events: none;
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

      li {
        transition: var(--transition);
        cursor: pointer;
        &:first-child {
          border-radius: rem(6) rem(6) 0 0;
        }
        &:last-child {
          border-radius: 0 0 rem(6) rem(6);
        }
        &:hover {
          background-color: var(--gray-warm-100-base);
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: -30px;
        right: 0;
        height: rem(40);
        width: 100%;
        @include tablet-smm {
          display: none;
        }
      }
    }
  }

  .socials {
    display: flex;
    align-items: start;
    gap: rem(8);
    @include tablet-sm {
      gap: rem(24);
    }

    &__item {
      a {
        width: rem(36);
        height: rem(36);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--beige-100-base);
        border-radius: rem(18);
        transition: var(--transition);
        svg {
          path {
            transition: var(--transition);
          }
        }
        &:hover {
          background-color: var(--teal-100-base);
          svg {
            path {
              fill: var(--black-100-base);
            }
          }
        }
      }
    }
  }

  &__subscribe {
    margin-top: clamp(rem(40), vw(80), rem(80));
    padding: rem(60);
    background-color: var(--beige-100-base);
    position: relative;
    display: flex;
    gap: rem(44);
    align-items: flex-end;
    @include tablet-smm {
      flex-direction: column;
      padding: rem(160) rem(15) rem(165);
      gap: rem(44);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('./../../img/subscribe-right-top.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;
      width: 25%;
      height: rem(110);

      @include tablet-smm {
        background-image: url('./../../img/subscribe-mob-right-top.svg');
        width: 42%;
        height: rem(123);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('./../../img/subscribe-left-top.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top left;
      width: 25%;
      height: rem(130);
      @include tablet-smm {
        background-image: url('./../../img/subscribe-mob-left-top.svg');
        width: 19%;
        height: rem(80);
      }
    }
    span.after {
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url('./../../img/subscribe-left-bottom.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top left;
      width: 10%;
      height: rem(65);
      @include tablet-smm {
        background-image: url('./../../img/subscribe-mob-bottom.svg');
        width: 100%;
        height: rem(150);
        background-position: center bottom;
      }
    }

    &-inf {
      max-width: rem(458);
      flex: 0 0 auto;
      @include desktop-md {
        flex: auto;
      }
      @include tablet-smm {
        max-width: 100%;
        text-align: center;
      }
    }
    h2 {
      @include title-32-Sb;
      margin-bottom: rem(21);
      @include tablet-smm {
        margin-bottom: rem(18);
        @include title-mobile-28-Sb;
      }
    }
    .caption {
      @include base-text-15-M;
    }

    &-form {
      width: 100%;
      margin-bottom: rem(-5);
      @include tablet-smm {
        margin-top: rem(5);
      }
      form {
        display: flex;
        gap: rem(30);
        @include tablet-smm {
          flex-direction: column;
          gap: rem(30);
        }
      }
      input {
        max-width: rem(460);
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--black-100-base);
        background-color: transparent;
        padding-bottom: rem(16);
        outline: none;
        @include tablet-smm {
          max-width: 100%;
        }
        &::placeholder {
          @include base-text-20-M;
          color: var(--black-100-base);
        }
      }
      .btn {
        @include tablet-smm {
          max-width: rem(210);
          width: 100%;
          margin: auto;
        }
      }
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: rem(64) rem(20);
    padding-top: clamp(rem(40), vw(104), rem(104));

    @include desktop-md {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include tablet-smm {
      grid-template-columns: 1fr 1fr;
    }
    @include tablet-sm {
      grid-template-columns: 1fr;
      gap: rem(63) rem(18);
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: rem(21);
      &:hover a:not(:hover) {
        opacity: 0.5;
      }
      &:first-child {
        @include tablet-sm {
          flex-direction: row;
          flex-wrap: wrap;
          li {
            &:nth-child(1) {
              width: 100%;
            }
            &:nth-child(2) {
              width: calc(50% - 16px);
            }
            &:nth-child(3) {
              width: calc(50% - 16px);
            }
            &:nth-child(4) {
              width: calc(50% - 16px);
            }
            &:nth-child(5) {
              width: calc(50% - 16px);
            }
          }
        }
      }
      @include tablet-sm {
        gap: rem(32);
      }
      .sub-menu__title {
        h3 {
          min-height: rem(64);
          color: var(--black-70);
          @include title-20-Sb;
          padding-bottom: rem(16);
          margin-bottom: rem(7);
          border-bottom: 1px solid var(--sub-menu-color-header);
          @include tablet-sm {
            min-height: auto;
            margin-bottom: rem(-8);
          }
        }
      }

      li {
        @include tablet-sm {
          br {
            display: none;
          }
        }
        a {
          @include base-text-15-M;
          color: var(--black-100-base);
          transition: var(--transition);
          @include animatedUnderline;
        }
      }
    }
  }

  &__contact {
    display: flex;
    gap: rem(20);
    margin-top: clamp(rem(40), vw(94), rem(94));
    padding-bottom: rem(44);
    border-bottom: 1px solid var(--gray-warm-100-base);
    color: var(--black-100-base);
    @include tablet-smm {
      border-top: 1px solid var(--gray-warm-100-base);
      padding-top: rem(40);
      padding-bottom: rem(38);
    }

    @include tablet-md {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include tablet-sm {
      grid-template-columns: 1fr;
    }
    &-item:first-child {
      width: 40.95%;
      @include tablet-md {
        width: 100%;
      }
      span {
        padding-top: rem(9);
      }
    }
    &-item {
      @include tablet-md {
        width: 100%;
        br {
          display: none;
        }
      }
      span {
        @include base-text-15-M;
        padding-top: rem(8);
      }
      width: 19.68%;
      display: flex;

      gap: rem(16);
      .svg {
        flex: 0 0 auto;
      }
      &:hover {
        .svg {
          background-color: var(--teal-100-base);
        }
        svg {
          path {
            fill: var(--black-100-base);
          }
        }
      }
      .svg {
        width: rem(36);
        height: rem(36);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--beige-100-base);
        border-radius: rem(18);
        transition: var(--transition);
        svg {
          path {
            transition: var(--transition);
          }
        }
      }
    }
  }

  &__bottom {
    padding: rem(20) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);
    color: var(--black-70);
    @include tablet-smm {
      flex-direction: column;
    }
    .caption {
      @include base-text-15-M;
    }
    .designed {
      text-transform: uppercase;
      font-size: rem(12);
    }

    &-link {
      display: flex;
      align-items: center;
      gap: rem(40);
      a {
        @include base-text-15-M;
        transition: var(--transition);
        @include animatedUnderline;
      }
    }
  }

}
